<<<<<<< HEAD
body {
    font-family: "Helvetica Neue",Helvetica,Arial,sans-serif";
    font-size: 14px;
    line-height: 1.42857143;
    color: #333;
    background-color: whitesmoke;
}
.jumbotron {
    padding-top: 30px;
    padding-bottom: 30px;
    margin-bottom: 60px;
    background-color: rgb(117, 117, 38);
}

=======

.body {
    font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
    font-size: 20px;
    line-height: 1.42857143;
    margin: -200px;
    background-color: whitesmoke;
    
}

.logo {
    font-family: 'Rammetto One', cursive;

}

.row {

    margin: auto;
}

.lead {
    font-family: 'Montserrat', sans-serif;

}
.homeandnews {
    margin: 10px;
}

.banner {
    width: 100%;
    display: block;
}

.banner > .banner-image {
    width: 100%;
    display: block;
}


.jumbotron {

    background-color:white;

}
/* Ivo */

/* .jumbotron {
    box-sizing: border-box;
    height: 600px;
    background-color: rgba(0, 0, 0, 0);
  }

  body {
    background-color: rgb(46, 46, 46);
    color: white;
    background-image: url(../images/spiration-dark.png);
  }
  
  .main-button-container {
    margin-top: 175px;
    max-width: 610px;
    margin-left: auto;
    margin-right: auto;
  }
  
  .timer-p {
    margin-top: 40px;
  }
  
  .answer:hover {
    background:gold;
  }
  
  .answer {
    padding-top: 7px;
    height: 45px;
    color: black;
    padding-left: 14px;
    background-color: white;
    border-radius: 4px;
  }
  
  .img-wrong {
    margin-top: 40px;
  }
  
  .first-answer {
    margin-top: 40px;
  }
  
  .reset-button {
    margin-top: 40px;
  }
  
  .summary-correct {
    margin-top: 40px;
  }
.btn-primary {
    background-color: gold;
    color: black;
    border-color: white;
}
 
  
  
   */
>>>>>>> master
