body {
    font-family: "Helvetica Neue",Helvetica,Arial,sans-serif";
    font-size: 14px;
    line-height: 1.42857143;
    color: #333;
    background-color: whitesmoke;
}
.jumbotron {
    padding-top: 30px;
    padding-bottom: 30px;
    margin-bottom: 60px;
    background-color: rgb(117, 117, 38);
}

